@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.displaynone {
  display: none !important;
}

.check {
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.check .game__front-card {
  -webkit-box-shadow: 0 0 10px #61af59;
          box-shadow: 0 0 10px #61af59;
}

.false {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.false .game__front-card {
  -webkit-box-shadow: 0 0 10px #f83434;
          box-shadow: 0 0 10px #f83434;
}

body {
  margin: 0;
}

svg {
  display: block;
}

#game-page {
  width: 100%;
  height: 100%;
  background: url("../images/BGC.jpg");
  background-size: 30px;
}

.bgc-mask-top {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
}

.bgc-mask-bottom {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(20%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%);
}

.game {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game__cards {
  width: 720px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 20px;
}

.game__cards.no-event {
  pointer-events: none;
}

.game__card {
  position: relative;
  cursor: pointer;
  -webkit-perspective: 700px;
          perspective: 700px;
}

.game__card.flipped, .game__card.has-match {
  pointer-events: none;
}

.game__card.flipped .game__back-card, .game__card.has-match .game__back-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game__card.flipped .game__front-card, .game__card.has-match .game__front-card {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.game__back-card, .game__front-card {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-box-shadow: 0 0 20px #eee, 0 0 5px #ccc;
          box-shadow: 0 0 20px #eee, 0 0 5px #ccc;
}

.game__back-card {
  z-index: 1;
}

.game__front-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.game__box {
  padding-top: 10px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  font-family: "Archivo Black", sans-serif;
}

.game__box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game__box-min::before {
  content: "Time : ";
}

.game__box-sec::after {
  content: ":";
}

.game__box-sec::before {
  content: ":";
}

.game__footer {
  padding-bottom: 10px;
  width: 200px;
  margin: auto;
}

.game__footer img {
  width: 100%;
}

.introduce {
  width: 100%;
  padding-top: 100px;
  margin: auto;
  position: relative;
}

.introduce-drop {
  width: 100%;
  position: absolute;
  top: 0;
}

.introduce-container {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 1280px;
  padding: 0 15px;
}

.introduce-title {
  width: 100%;
}

.introduce__blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduce__blocks img {
  width: 100%;
}

.introduce__item:nth-child(1) {
  width: 80%;
}

.introduce__item:nth-child(2) {
  margin-top: 60px;
  width: 20%;
}

.introduce__item-title {
  width: 25%;
}

.introduce__item-text {
  padding-left: 10%;
  color: #fff;
  font-family: "微軟正黑體";
  text-shadow: 0 0 2px #000;
  font-size: 1.5em;
}

.introduce__item-text .smaller {
  font-size: 12px;
}

.introduce__item-text img {
  width: 40%;
}

.introduce__block {
  margin-top: 70px;
  width: 80%;
}

.introduce__block img {
  width: 100%;
}

.frame {
  position: relative;
  max-width: 1050px;
  background: #fff;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px 10px #000;
          box-shadow: 0 0 50px 10px #000;
}

.frame::before {
  content: "";
  width: 200px;
  height: 200px;
  background: url("../images/wishD.png");
  background-size: cover;
  position: absolute;
  right: 5%;
  top: -200px;
}

.frame__title {
  margin: auto;
  padding-top: 60px;
}

.frame__title img {
  width: 100%;
}

.frame__mask {
  position: absolute;
  top: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
}

.frame__mask-bgc {
  height: 100%;
  width: 100%;
  background: #00000080;
}

.frame__mask-btn {
  position: absolute;
  top: 57%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
}

.frame__mask-btn img {
  width: 100%;
}

.frame__mask-dra {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  overflow: hidden;
  height: 350px;
}

.frame__mask-dra img {
  width: 110%;
}

.frame__scoreboard {
  position: absolute;
  top: 0;
  z-index: 6;
  height: 100%;
  width: 100%;
  background: #ccc;
}

.scoreboard {
  padding: 0 20px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22222280;
}

.scoreboard__lightbox {
  max-width: 1100px;
  height: 70vh;
  background: url("../images/pointbgc.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  position: relative;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 100px #00000040;
          box-shadow: 0 0 20px 100px #00000040;
}

.scoreboard__lightbox::after {
  content: "";
  width: 40%;
  padding-bottom: 50%;
  display: block;
  background: url("../images/draCelebrate.png");
  background-size: cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
}

.scoreboard__lightbox-btn {
  background: linear-gradient(135deg, #a616ff 0%, #2d50ed 100%);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 26px;
  color: #eee;
  z-index: 21;
  text-shadow: 2px 2px #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
  -webkit-box-shadow: 3px 3px #9db0d7;
          box-shadow: 3px 3px #9db0d7;
}

.scoreboard__lightbox-last {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  font-family: "微軟正黑體";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -75px);
          transform: translate(-50%, -75px);
  text-align: center;
}

.scoreboard__lightbox-lastcount {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
}

.scoreboard__lightbox__block {
  padding: 70px 100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.scoreboard__lightbox-item {
  width: 500px;
  height: 49.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scoreboard__lightbox-item b {
  width: 50%;
}

.scoreboard__lightbox-item p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 0;
}

.scoreboard__lightbox-item--date {
  background: url("../images/point-date.png");
  background-size: cover;
}

.scoreboard__lightbox-item--account {
  background: url("../images/point-account.png");
  background-size: cover;
}

.scoreboard__lightbox-item--best {
  background: url("../images/point-best.png");
  background-size: cover;
}

.scoreboard__lightbox-item--number {
  background: url("../images/point-no1.png");
  background-size: cover;
}

.scoreboard__lightbox-item--now {
  background: url("../images/point-now.png");
  background-size: cover;
}

@media (max-width: 1324px) {
  .frame::before {
    display: none;
  }
}

@media (max-width: 575px) {
  .introduce {
    padding-top: 40px;
  }
  .introduce__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduce__item {
    width: 100% !important;
  }
  .introduce__item-text {
    padding: 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduce__item:nth-child(2) {
    padding: 0 40px;
    width: 100% !important;
  }
  .introduce__block {
    width: 100%;
  }
  .game__footer {
    width: 100px;
  }
}

@media (max-width: 991px) {
  .introduce__item:nth-child(2) {
    width: 200px;
  }
  .introduce__item-title {
    width: 160px;
  }
  .introduce__item-text {
    font-size: 20px;
  }
  .introduce__item-text img {
    width: 300px;
  }
}

@media (min-width: 1920px) {
  .introduce-container {
    max-width: 1440px;
  }
}

@media (max-width: 1200px) {
  .scoreboard__lightbox__block {
    padding: 80px 50px;
  }
}

@media (max-width: 991px) {
  .scoreboard__lightbox::after {
    content: "";
    width: 40%;
    padding-bottom: 50%;
    display: block;
    background: url("../images/draCelebrate.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .scoreboard__lightbox__block {
    padding: 200px 20px 100px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 675px) {
  .scoreboard__lightbox-btn {
    width: 90%;
  }
  .scoreboard__lightbox-item {
    width: 100%;
    height: 0;
    padding-bottom: 10%;
    background-position: center;
  }
}

@media (max-width: 475px) {
  .scoreboard__lightbox__block {
    padding: 150px 20px 200px 20px;
  }
  .scoreboard__lightbox-item p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=game.css.map */